/* Webfont: FlacoMono-Reg */@font-face {
    font-family: 'FlacoMono';
    src: url('FlacoMono-Reg.eot'); /* IE9 Compat Modes */
    src: url('FlacoMono-Reg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FlacoMono-Reg.woff') format('woff'), /* Modern Browsers */
         url('FlacoMono-Reg.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FlacoMono-Reg.svg#FlacoMono-Reg') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

