/* Webfont: Flaco-UltLig */@font-face {
    font-family: 'Flaco';
    src: url('../fonts/FlacoUltLig/Flaco-UltLig.eot'); /* IE9 Compat Modes */
    src: url('../fonts/FlacoUltLig/Flaco-UltLig.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/FlacoUltLig/Flaco-UltLig.woff') format('woff'), /* Modern Browsers */
         url('../fonts/FlacoUltLig/Flaco-UltLig.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/FlacoUltLig/Flaco-UltLig.svg#Flaco-UltLig') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 100;
    text-rendering: optimizeLegibility;
}

/* Webfont: Flaco-Thin */@font-face {
    font-family: 'Flaco';
    src: url('../fonts/FlacoThin/Flaco-Thin.eot'); /* IE9 Compat Modes */
    src: url('../fonts/FlacoThin/Flaco-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/FlacoThin/Flaco-Thin.woff') format('woff'), /* Modern Browsers */
         url('../fonts/FlacoThin/Flaco-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/FlacoThin/Flaco-Thin.svg#Flaco-Thin') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 200;
    text-rendering: optimizeLegibility;
}

/* Webfont: Flaco-XLig */@font-face {
    font-family: 'Flaco';
    src: url('../fonts/FlacoXLig/Flaco-XLig.eot'); /* IE9 Compat Modes */
    src: url('../fonts/FlacoXLig/Flaco-XLig.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/FlacoXLig/Flaco-XLig.woff') format('woff'), /* Modern Browsers */
         url('../fonts/FlacoXLig/Flaco-XLig.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/FlacoXLigont/Flaco-XLig.svg#Flaco-XLig') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: Flaco-Lig */@font-face {
    font-family: 'Flaco';
    src: url('../fonts/FlacoLig/Flaco-Lig.eot'); /* IE9 Compat Modes */
    src: url('../fonts/FlacoLig/Flaco-Lig.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/FlacoLig/Flaco-Lig.woff') format('woff'), /* Modern Browsers */
         url('../fonts/FlacoLig/Flaco-Lig.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/FlacoLig/Flaco-Lig.svg#Flaco-Lig') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/* Webfont: Flaco-Reg */@font-face {
    font-family: 'Flaco';
    src: url('../fonts/FlacoReg/Flaco-Reg.eot'); /* IE9 Compat Modes */
    src: url('../fonts/FlacoReg/Flaco-Reg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/FlacoReg/Flaco-Reg.woff') format('woff'), /* Modern Browsers */
         url('../fonts/FlacoReg/Flaco-Reg.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/FlacoReg/Flaco-Reg.svg#Flaco-Reg') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

/* Webfont: Flaco-Medium */@font-face {
    font-family: 'Flaco';
    src: url('../fonts/FlacoMedium/Flaco-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/FlacoMedium/Flaco-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/FlacoMedium/Flaco-Medium.woff') format('woff'), /* Modern Browsers */
         url('../fonts/FlacoMedium/Flaco-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/FlacoMedium/Flaco-Medium.svg#Flaco-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

/* Webfont: Flaco-Bol */@font-face {
    font-family: 'Flaco';
    src: url('../fonts/FlacoBol/Flaco-Bol.eot'); /* IE9 Compat Modes */
    src: url('../fonts/FlacoBol/Flaco-Bol.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/FlacoBol/Flaco-Bol.woff') format('woff'), /* Modern Browsers */
         url('../fonts/FlacoBol/Flaco-Bol.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/FlacoBol/Flaco-Bol.svg#Flaco-Bol') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Webfont: Flaco-XBol */@font-face {
    font-family: 'Flaco';
    src: url('../fonts/FlacoXBol/Flaco-XBol.eot'); /* IE9 Compat Modes */
    src: url('../fonts/FlacoXBol/Flaco-XBol.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/FlacoXBol/Flaco-XBol.woff') format('woff'), /* Modern Browsers */
         url('../fonts/FlacoXBol/Flaco-XBol.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/FlacoXBol/Flaco-XBol.svg#Flaco-XBol') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 800;
    text-rendering: optimizeLegibility;
}

/* Webfont: Flaco-Heavy */@font-face {
    font-family: 'Flaco';
    src: url('../fonts/FlacoHeavy/Flaco-Heavy.eot'); /* IE9 Compat Modes */
    src: url('../fonts/FlacoHeavy/Flaco-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/FlacoHeavy/Flaco-Heavy.woff') format('woff'), /* Modern Browsers */
         url('../fonts/FlacoHeavy/Flaco-Heavy.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/FlacoHeavy/Flaco-Heavy.svg#Flaco-Heavy') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 900;
    text-rendering: optimizeLegibility;
}

/* Webfont: Flaco-Heavy */@font-face {
    font-family: 'Flaco Mono';
    src: url('../fonts/FlacoMono/FlacoMono-Reg.eot'); /* IE9 Compat Modes */
    src: url('../fonts/FlacoMono/FlacoMono-Reg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/FlacoMono/FlacoMono-Reg.woff') format('woff'), /* Modern Browsers */
         url('../fonts/FlacoMono/FlacoMono-Reg.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/FlacoMono/FlacoMono-Reg.svg#FlacoMono-Reg') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

 