@import '_fonts.scss';
@import '_mixins.scss';

$baseline-height: 24px;

$bg-color: white;
$txt-color: black;
$tw-color: #1DA1F2;
$hl-color: #FFF400;

body {
	font-family: 'Flaco', Helvetica, Arial, sans-serif;
	font-weight: 500;
	color: $txt-color;
	background-color: $bg-color;
	padding: 0px;
	margin: 0px;
	::selection{
			background: rgba(31,31,31, .25);
	}
}

h1{
	font-weight:900;
	font-size: 48px;
}

a {
	color: inherit;
	text-decoration: underline;
	@include transition (all .15s ease-out);
	&:hover{
		opacity: .5;
	}
}

p{
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: $txt-color;
}

#header-container{
	padding-top: $baseline-height * 2;
	background-color: $bg-color;
	width: g(12,12);
	@include p();	

	@media (min-width:800px){
		margin-left: g(1,12);
		padding: 48px 0px 0px 0px;
		width: g(11,12);
	}	

}

#title{
	color: $tw-color;
	font-weight: 500;
	font-size: 16px;
}


#main-content-container{
	display: flex;
	flex-direction: column;
	
	@media (min-width: 800px){
		flex-direction: row;
		align-items: flex-start;
	}

}

#abstract{
	width: g(12,12);
	@include p();
	margin-bottom: $baseline-height;

	@media (min-width:800px){
		margin-left: g(1,12);
		width: g(3,12);
		padding: 0px;
	}	
}

ol{
	margin-top:-8.5px;
	padding-left: 20px;
	li{
		margin-bottom: 8.5px;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		color: $txt-color;	
	}
}

#abstract-main{
	font-weight: 700;
	background-color: rgba(31,31,31, .20);
}

#spacer-div{
	width: g(1,12);
	@include p();
	display:none;
	@media (min-width: 800px){
		display:block;
	}
}


#mirror{
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 100% 100%, 20% 100%, 0% 80%, 0% 20%);
	clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 100% 100%, 20% 100%, 0% 80%, 0% 20%);
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	@include transition(all .35s ease-out);
	padding: $baseline-height / 2;
	cursor: pointer;
	text-decoration: none;
	background-color: $txt-color;
	color: $hl-color;
	font-weight: 800;
	overflow: hidden;
	margin: 5px;
	width: g(11,12);
	height: auto;
	font-size: 64px;
	line-height: 60px;
	@media (min-width:800px){
		margin: -12px 0px 0px 0px;
		width: g(7,12);
		height: auto;
		font-size: 96px;
		line-height: 90px;
		letter-spacing: -3px;	
	}
	@media (min-width:1200px){
		width: g(7,12);
		height: 724px;
		font-size: 128px;
		line-height: 120px;
		letter-spacing: -5px;	
	}	

	&:hover{
		transform: translateY(10px);
	}
	&:active{
		transform: translateY(15px);
	}
	#bord{
		width: 80%;
		margin-top: 82px;
		border-bottom: 1px solid #hl-color;
	}
	#twitdown{
		width: 100px;
		height: auto;
		margin-top: $baseline-height / 2;
		margin-left: auto;
		margin-right: 0px;
		position: relative;
		bottom: 0px;
		@media (min-width:1200px){
			width: 175px;
		}				
		@media (min-width:1400px){
			width: 250px;
		}		
		&:hover{
			opacity: .75;
		}
	}
	#mirror-text{
		-webkit-transform: translate3d(0, 0, 0);
		text-align:right;
		font-size: 20px;
		line-height: 20px;
		margin-right:12px;
		margin-left: 20%;
		margin-top: $baseline-height;
		color: $bg-color;
		letter-spacing: 0px;
		user-select:none;
		font-weight: 300;
		@media (min-width: 800px){
			font-size: 44px;
			line-height: 40px;
			margin-top: $baseline-height * 1;
		}
		@media (min-width: 1400px){
			margin-top: $baseline-height * 2;
		}
	}
}


#madeby{
	border-radius: 12px;
	border: 1px solid black;
	width: 300px;
	text-align: left;
	color:black;
	font-size: 14px;
	margin: 24px auto 0px auto;
	@media(min-width: 800px){
		margin: 24px 0px 0px 0px;
	}
}
#madeby-1{
		border-bottom: 1px solid black;
}

.responsive-br{
	display:none;
	@media (min-width:800px){
		display: block;
	}
}

#screenshot{
	margin: 48px auto;
	max-width: 254px;
	box-shadow: 0px 2px 20px rgba(0,0,0,.15);
	img{
		width:100%;
		height: auto;
	}
}