

// @import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@import '_fonts.scss';
@import '_mixins.scss';

$baseline-height: 24px;

$bg-color: #fff9f2;
$txt-color: #1f1f1f;
$tw-color: #1DA1F2;
$hl-color: #C1B755;

body {
	font-family: 'Flaco', sans-serif;
	font-weight: 400;
	color: $txt-color;
	background-color: $bg-color;
	padding: 0px;
	margin: 0px;
}

h1{
	font-weight:900;
	font-size: 48px;
}

a {
	color: inherit;
	text-decoration: underline;
	@include transition (all .15s ease-out);
	&:hover{
		opacity: .5;
	}
}

p{
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: $txt-color;
}

#header-container{
	padding-top: $baseline-height * 2;
	@include p(); 
	background-color: $bg-color;
	width: g(12,12);

	@media (min-width:600px){
		margin-left: g(1,12);
	}	

	@media (min-width:1200px){
		margin-left: g(1,12);
	}	

}

#title{
	color: $tw-color;
	font-weight: 500;
}


#main-content-container{
	display: flex;
	flex-direction: column;
	@media (min-width: 800px){
		flex-direction: row;
		align-items: flex-start;
	}

}

#abstract{
	@include p();
	width: g(12,12);

	@media (min-width:600px){
		margin-left: g(1,12);
		width: g(10,12);
	}	

	@media (min-width:1200px){
		margin-left: g(1,12);
		width: g(3,12);
	}	
}

#spacer-div{
	width: g(1,12);
	@include p();
}

#mirror{
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 100% 100%, 20% 100%, 0% 80%, 0% 20%);
	clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 100% 100%, 20% 100%, 0% 80%, 0% 20%);
	padding: $baseline-height / 2;
	cursor: pointer;
	text-decoration: none;
	width: g(7,12);
	height: 724px;
	background-color: $txt-color;
	color: $hl-color;
	font-size: 128px;
	font-weight: 800;
	line-height: 120px;
	letter-spacing: -5px;
	overflow: hidden;
	@include transition(all .45s ease-out);
	&:hover{
		transform: translateY(10px);
	}
	&:active{
		transform: translateY(15px);
	}
	#bord{
		width: 80%;
		margin-top: 82px;
		border-bottom: 1px solid #hl-color;
	}
	#twitdown{
		width: 250px;
		height: auto;
		margin-top: $baseline-height / 2;
		margin-left: auto;
		margin-right: 0px;
		position: relative;
		bottom: 0px;
	}
	#mirror-text{
		font-size: 44px;
		margin-left: 20%;
		color: $bg-color;
		letter-spacing: 0px;
		user-select:none;

	}
}
